*{	margin: 0; padding: 0; border: none; }
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background: #f1f5f3;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
/*Header*/
#header{
	background: #1b1b1b;
	padding: 5px;
}
#header img{
	float: left;
	margin: 10px;
}
#header ul li{
	display: inline-block;
}
#header #header_links{
	width: 620px;
	float: left;
	padding: 0;
}
#header #contact{
	margin: 16px 0 0 0;
	font-size: 13px;
}
#header #nav{
	margin: 27px 0 -22px 20px;
}
#header ul li a{
	text-decoration: none;
}
#header #contact ul li a, #header #contact ul li{
	color: #979797;
}
#header #contact ul li{
	padding: 5px 7px;
	background: #2a2626;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#header #contact ul li:hover{
	background: #454545;
}
#header #contact ul li span{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 3px 3px -3px 0;
}
#header #contact ul li span#chat{
	background: url(../images/nav-chat.png) no-repeat;
}
#header #contact ul li span#login{
	background: url(../images/nav-login.png) no-repeat;
}
#header #contact ul li span#phone{
	background: url(../images/nav-phone.png) no-repeat;
}
#header #contact ul li span#mail{
	background: url(../images/nav-mail.png) no-repeat;
}
#header #nav ul li{
	padding: 5px 20px;
	-webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    text-shadow: 1px 1px 1px #323232;
	font-size: 16px;
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top,  #494949 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #494949 0%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #494949 0%,#3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #494949 0%,#3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #494949 0%,#3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
}
#header #nav ul li:hover, #header #nav ul li.menu_activo{
	background: #58ab27; /* Old browsers */
	background: -moz-linear-gradient(top,  #58ab27 0%, #71d934 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58ab27), color-stop(100%,#71d934)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58ab27 0%,#71d934 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58ab27 0%,#71d934 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58ab27 0%,#71d934 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #58ab27 0%,#71d934 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ab27', endColorstr='#71d934',GradientType=0 ); /* IE6-9 */
}
#header #nav ul li a{
	color: #ffffff;
}
/*Content*/
#content{
	min-height: 350px;
	padding: 10px 5px;
}
/*.editable{
	border: 1px solid #ccc;
	padding: 2px;
}*/
.clear{
	clear: both;
}
/*#index .container{
	background: #fff;
}*/
/*Index Page*/
#index, #planes_section{
	background: url(../images/bannerconbg.png) repeat;
	padding-top: 20px;
}
#index #offer{
	background: #58ab27; /* Old browsers */
	background: -moz-linear-gradient(top,  #58ab27 0%, #71d934 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58ab27), color-stop(100%,#71d934)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58ab27 0%,#71d934 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58ab27 0%,#71d934 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58ab27 0%,#71d934 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #58ab27 0%,#71d934 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ab27', endColorstr='#71d934',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	margin-bottom: 20px;
	padding: 28px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #ffffff;
}
#index #offer p{
	text-align: center;
	font-size: 16px;
	margin-left: 100px;
	line-height: 24px;
}
#index #submenu ul{
	list-style-type: none;
	margin: 0 auto;
	width: 464px;
}
#index #submenu ul li{
	float: left;
	margin: 0 10px;
}
#index #submenu ul li a, #index #promo .promo_slide a.button, #plans .pricing .button, #our_plans .table_plan td a, #footer #newsletter input[type="submit"]{
	background: #53d800; /* Old browsers */
	background: -moz-linear-gradient(top,  #53d800 0%, #53d800 60%, #58ab27 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53d800), color-stop(60%,#53d800), color-stop(100%,#58ab27)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #53d800 0%,#53d800 60%,#58ab27 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #53d800 0%,#53d800 60%,#58ab27 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #53d800 0%,#53d800 60%,#58ab27 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #53d800 0%,#53d800 60%,#58ab27 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d800', endColorstr='#58ab27',GradientType=0 ); /* IE6-9 */
	border: 1px solid #58ab27;
	color: #ffffff;
	padding: 5px 10px;
	text-decoration: none;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}	
#index #submenu ul li a:hover, #index #promo .promo_slide a.button:hover, #plans .pricing .button:hover, #our_plans .table_plan td a:hover, #footer #newsletter input[type="submit"]:hover{
	background: #58ab27; /* Old browsers */
	background: -moz-linear-gradient(top,  #58ab27 0%, #53d800 40%, #53d800 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58ab27), color-stop(40%,#53d800), color-stop(100%,#53d800)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #58ab27 0%,#53d800 40%,#53d800 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #58ab27 0%,#53d800 40%,#53d800 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #58ab27 0%,#53d800 40%,#53d800 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #58ab27 0%,#53d800 40%,#53d800 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58ab27', endColorstr='#53d800',GradientType=0 ); /* IE6-9 */
}
#index #promo{
	width: 950px;
	margin: 20px 5px;
	background: url(../images/bannerconbg.png) repeat;
}
#index #promo #banner_a{
	height: 360px;
	background: url(../images/banner.jpg) no-repeat;
}
#index #promo .promo_slide{
	position: relative;
}
#index #promo .promo_slide h2{
	font-size: 30px;
	width: 450px;
	text-shadow: 1px 1px 1px #aaa;
	margin-left: 40px;
}
#index #promo .promo_slide h2 strong{
	color: #53d800;
	font-size: 50px;
}
#index #promo .promo_slide ul{
	list-style-image: url(../images/bullet.png);
	margin: 20px 0 20px 40px;
}
#index #promo .promo_slide ul li{
	font-weight: bold;
	font-size: 18px;
}
#index #promo .promo_slide h3{
	width: 240px;
	position: absolute;
	font-size: 22px;
	top: 176px;
	left: 298px;
}
#index #promo .promo_slide h3 strong{
	font-size: 50px;
	text-shadow: 1px 1px 1px #aaa;
}
#index #promo .promo_slide a.button{
	width: 200px;
	padding: 10px;
	font-size: 20px;
	position: absolute;
	top: 276px;
	left: 362px;
	text-align: center;
}
#plans h2, #our_plans h2{
	text-align: center;
	padding: 10px;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
#plans #planes ul{
	width: 600px;
	margin: 20px auto;
	list-style-type: none;
}
#plans #planes ul li{
	float: left;
	width: 128px;
	padding: 10px;
	border: 1px solid #aaa;
	text-align: center;
}
#plans #planes ul li:first-child{
	-webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
#plans #planes ul li:last-child{
	-webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#plans #planes ul li.active, #plans #planes ul li:hover{
	background: #53d800; /* Old browsers */
	background: -moz-linear-gradient(top,  #53d800 0%, #53d800 60%, #58ab27 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#53d800), color-stop(60%,#53d800), color-stop(100%,#58ab27)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #53d800 0%,#53d800 60%,#58ab27 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #53d800 0%,#53d800 60%,#58ab27 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #53d800 0%,#53d800 60%,#58ab27 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #53d800 0%,#53d800 60%,#58ab27 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53d800', endColorstr='#58ab27',GradientType=0 ); /* IE6-9 */
}
#plans #planes ul li a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 1px #aaa;
}
#plans .plans_pricing{
	margin: 25px 0;
}
#plans .pricing{
	float: left;
	width: 223px;
	height: 250px;
	background: #fff;
	margin-right: 15px;
	border: 1px solid #aaa;
}
#plans .pricing h3{
	text-align: center;
	text-shadow: 1px 1px 1px #aaa;
	border-bottom: 1px solid #aaa;
	padding: 10px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(201,242,205,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(201,242,205,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9f2cd',GradientType=0 ); /* IE6-9 */
}
#plans .pricing p{
	font-weight: bold;
	text-align: center;
	padding: 10px;
}
#plans .pricing p strong{
	font-size: 30px;
	color: #53d800;
	text-shadow: 1px 1px 1px #aaa;
}
#plans .pricing ul{
	list-style-image: url(../images/bullet.png);
	margin: 0 0 20px 50px;
}
#plans .pricing .button{
	margin-left: 38px;
}
#why{
	margin-bottom: 20px;
}
#prefer{
	margin: 20px 0;
}
#prefer .element_liveweb{
	width: 450px;
	margin: 10px;
	float: left;
	border-bottom: 1px solid #aaa;
	padding: 0 0 10px 10px;
}
#prefer .element_liveweb span{
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin: 0 10px;
}
#prefer #service_red{
	color: #9d3f06;
}
#prefer #service_red span{
	background: url(../images/image1.png) no-repeat;
}
#prefer #service_yellow{
	color: #d3a20f;
}
#prefer #service_yellow span{
	background: url(../images/clock.png) no-repeat;
}
#prefer #service_green{
	color: #697d3e;
}
#prefer #service_green span{
	background: url(../images/money.png) no-repeat;
}
#prefer #service_gray{
	color: #4c4c4c;
}
#prefer #service_gray span{
	background: url(../images/backup.png) no-repeat;
}
/*Plans*/
#planes_section{
	padding: 5px;
}
#planes_section div{
	width: 950px;
	height: 192px;
	padding-top: 30px;
	background: url(../images/bannersub.jpg) no-repeat;
}
#planes_section div h2{
	margin: 0 0 0 50px;
	font-size: 30px;
}
#planes_section div h2 strong{
	font-size: 50px;
	color: #53d800;
	text-shadow: 1px 1px 1px #aaa;
}
#our_plans h2{
	margin: 20px 0;
}
#our_plans p{
	text-align: center;
	color: #777;
}
#our_plans p strong{
	color: #53d800;
	text-shadow: 1px 1px 1px #dddddd;
}
#our_plans .table_plan{
	width: 460px;
	margin: 10px 10px;
	float: left;
}
#our_plans .table_plan .plan_name{
	padding: 10px;
	color: #fff;
	text-align: center;
	-webkit-border-radius: 5px 5px 0 0px;
    border-radius: 5px 5px 0 0px;
    font-size: 16px;
}
#our_plans .table_plan #starter{
	background: rgb(157,63,6); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(157,63,6,1) 0%, rgba(153,92,62,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,63,6,1)), color-stop(100%,rgba(153,92,62,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(157,63,6,1) 0%,rgba(153,92,62,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(157,63,6,1) 0%,rgba(153,92,62,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(157,63,6,1) 0%,rgba(153,92,62,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(157,63,6,1) 0%,rgba(153,92,62,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d3f06', endColorstr='#995c3e',GradientType=0 ); /* IE6-9 */
}
#our_plans .table_plan #blogger{
	background: rgb(211,162,15); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(211,162,15,1) 0%, rgba(209,179,92,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,162,15,1)), color-stop(100%,rgba(209,179,92,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(211,162,15,1) 0%,rgba(209,179,92,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(211,162,15,1) 0%,rgba(209,179,92,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(211,162,15,1) 0%,rgba(209,179,92,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(211,162,15,1) 0%,rgba(209,179,92,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3a20f', endColorstr='#d1b35c',GradientType=0 ); /* IE6-9 */
}
#our_plans .table_plan #business{
	background: rgb(105,125,62); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(105,125,62,1) 0%, rgba(123,160,80,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,125,62,1)), color-stop(100%,rgba(123,160,80,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(105,125,62,1) 0%,rgba(123,160,80,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(105,125,62,1) 0%,rgba(123,160,80,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(105,125,62,1) 0%,rgba(123,160,80,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(105,125,62,1) 0%,rgba(123,160,80,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#697d3e', endColorstr='#7ba050',GradientType=0 ); /* IE6-9 */	
}
#our_plans .table_plan #enterprises{
	background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(145,145,145,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(145,145,145,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(145,145,145,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(145,145,145,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(145,145,145,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(145,145,145,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#919191',GradientType=0 ); /* IE6-9 */
}
#our_plans .table_plan .table_div{
	border: 1px solid #ccc;
	-webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-top: 3px;
    background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,239,235,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,239,235,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,239,235,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,239,235,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,239,235,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,239,235,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaefeb',GradientType=0 ); /* IE6-9 */
}
#our_plans .table_plan table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
#our_plans .table_plan thead{
	font-weight: bold;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(201,242,205,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(201,242,205,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(201,242,205,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9f2cd',GradientType=0 ); /* IE6-9 */
}
#our_plans .table_plan thead td{
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#our_plans .table_plan thead td:first-child{
	border-left: none;
}
#our_plans .table_plan td{
	padding: 10px;
}
#our_plans .table_plan tbody tr{
	border-bottom: 1px solid #ccc;
}
#our_plans .table_plan tr:last-child{
	border-bottom: none;
}
#our_plans .table_plan td strong{
	font-size: 18px;
	color: #53d800;
	text-shadow: 1px 1px 1px #ddd;
}
/*About Us*/
#about_us #about .container, #about_us #prefer .container{
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
#about_us #about .container{
	padding: 10px;
	width: 580px;
	float: left;
	border: 1px solid #ccc;
	margin: 0 15px 20px 3px;
}
#about_us #about p{
	text-align: justify;
	margin: 5px 0;
}
#about_us #about ul{
	margin-left: 40px;
	list-style-image: url(../images/bullet.png);
}
#about_us #about ul li{
	font-weight: bold;
}
#about_us #prefer .container{
	padding: 10px;
	width: 315px;
	float: left;
	border: 1px solid #ccc;
}
#about_us #prefer .element_liveweb{
	width: 300px;
}
#about_us #prefer .element_liveweb:last-child{
	border-bottom: none;
}





























/*Footer*/
#footer{
	background: #333;
	padding: 10px;
	border-bottom: 1px solid #565656;
}
#footer .container div{
	width: 210px;
	float: left;
	padding: 5px;
	margin: 10px 10px;
}
#footer h4{
	color: #FFF;
	font-size: 16px;
	padding: 7px;
	border-bottom: 1px solid #202020;
}
#footer ul li{
	margin-left: 20px;
}
#footer ul li a{
	color: #777;
	font-size: 14px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #121212;
	line-height: 24px;
}
#footer ul li a:hover{
	color: #ff6e1e;	
}
#footer ul li{
	list-style-image: url(../images/sitemap.png);
	list-style-position: outside;
}
#footer #add-these-features ul li, #footer #social-media ul li{
	list-style-type: none;
	list-style-image: none;
}
#footer #add-these-features ul li a span, #footer #social-media ul li a span{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 10px 6px -6px -15px;
}
#footer #add-these-features ul li a #support-team{
	background: url(../images/add-these-features/support-team.png) no-repeat;
}
#footer #add-these-features ul li a #free-site-migration{
	background: url(../images/add-these-features/free-site-migration.png) no-repeat;
}
#footer #add-these-features ul li a #free-ssl-certificate{
	background: url(../images/add-these-features/free-ssl-certificate.png) no-repeat;
}
#footer #add-these-features ul li a #monthly-data-transfer{
	background: url(../images/add-these-features/monthly-data-transfer.png) no-repeat;
}
#footer #add-these-features ul li a #no-setup-fees{
	background: url(../images/add-these-features/no-setup-fees.png) no-repeat;
}
#footer #add-these-features ul li a #pop-imap-support{
	background: url(../images/add-these-features/pop-imap-support.png) no-repeat;
}
#footer #add-these-features ul li a #private-name-servers{
	background: url(../images/add-these-features/private-name-servers.png) no-repeat;
}
#footer #add-these-features ul li a #virus-protection{
	background: url(../images/add-these-features/virus-protection.png) no-repeat;
}
#footer #social-media ul li a #blog-sm{
	background: url(../images/social-media/blog-sm.png) no-repeat;
}
#footer #social-media ul li a #facebook-sm{
	background: url(../images/social-media/facebook-sm.png) no-repeat;
}
#footer #social-media ul li a #rss-sm{
	background: url(../images/social-media/rss-sm.png) no-repeat;
}
#footer #social-media ul li a #twitter-sm{
	background: url(../images/social-media/twitter-sm.png) no-repeat;
}
#footer #newsletter input{
	padding: 5px;
	margin: 5px;
	width: 180px;
	color: #777;
	background: #2a2a2a;
	border: 1px solid #777;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}
#footer #newsletter input:first-child{
	margin-top: 10px;
}
#footer #newsletter input[type="submit"]{
	width: 100px;
	margin-left: 96px;
	color: #fff;
	font-size: 16px;
	padding: 3px 5px;
	border: 1px solid #71d934;
}
#footer #newsletter input[type="submit"]:hover{
	border-color: #494949;	
}
#copyright{
	background: #1b1b1b;
	color: #777;
	font-size: 14px;
	line-height: 20px;
	padding: 10px;
}

